In [2]:
 !pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [173]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [14]:
import pymysql

host = "pythonsql.cvwyoskgmxtl.ap-southeast-2.rds.amazonaws.com"
port = 3306
user = "admin"  # Replace with your RDS username
password = "Pysql2025"  # Replace with your RDS password
database = "your-database-name"  # Replace with your DB nameabase = "your-database-name"  # Replace with actual database name


# Connect to MySQL without specifying a database
conn = pymysql.connect(
    host=host,
    port=port,
    user=user,
    password=password
)

cursor = conn.cursor()

In [20]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ankitbansal06/retail-orders")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/ankitbansal06/retail-orders?dataset_version_number=4...

100%|█████████████████████████████████████████| 200k/200k [00:00<00:00, 653kB/s]

Extracting files...
Path to dataset files: /Users/avishekjha/.cache/kagglehub/datasets/ankitbansal06/retail-orders/versions/4

In [22]:
import shutil
import os

# Define the source and destination paths
source_path = '/Users/avishekjha/.cache/kagglehub/datasets/ankitbansal06/retail-orders/versions/4'
destination_folder = os.path.expanduser('~/Downloads')

# Get the file name from the source path
file_name = os.path.basename(source_path)

# Define the destination path
destination_path = os.path.join(destination_folder, file_name)

# Move the file
shutil.move(source_path, destination_path)

print(f"File moved to {destination_path}")

File moved to /Users/avishekjha/Downloads/4

In [34]:
data = pd.read_csv("/Users/avishekjha/Downloads/4/orders.csv")

In [65]:
data.shape

(9994, 16)

In [125]:
data.columns

Index(['orderid', 'orderdate', 'shipmode', 'segment', 'country', 'city',
       'state', 'postalcode', 'region', 'category', 'subcategory', 'productid',
       'costprice', 'listprice', 'quantity', 'discountpercent'],
      dtype='object')

In [97]:
data.columns = data.columns.str.replace(' ', '')

In [123]:
data.columns= data.columns.str.lower()

In [93]:
data['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [103]:
data.ShipMode.unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [113]:
data['ShipMode'] =data['ShipMode'].replace(['Not Available', 'unknown'],np.nan)

In [135]:
data['discount']=data['costprice']*data['discountpercent']*.01

In [139]:
data['saleprice']=data['listprice']-data['discount']

In [143]:
data['profit']= data['saleprice']-data['costprice']

In [151]:
data.drop(columns=['costprice', 'discountpercent', 'listprice'],inplace=True)

In [165]:
data['orderdate']=pd.to_datetime(data['orderdate'])

In [200]:
data.dtypes

orderid                 int64
orderdate      datetime64[ns]
shipmode               object
segment                object
country                object
city                   object
state                  object
postalcode              int64
region                 object
category               object
subcategory            object
productid              object
quantity                int64
discount              float64
saleprice             float64
profit                float64
dtype: object

In [202]:


# Your RDS details
host = "pythonsql.cvwyoskgmxtl.ap-southeast-2.rds.amazonaws.com"
port = 3306
user = "admin"  # Replace with your RDS username
password = "Pysql2025"  # Replace with your RDS password
database = "EDAProject"  # Replace with your database name

# Create a connection string
connection_str = f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}"

# Create a SQLAlchemy engine
engine = create_engine(connection_str)

# Assuming 'data' is your pandas DataFrame
# Replace the name of the table if it's different
table_name = "ORDERS"  # Replace with the name of your table

# Load the DataFrame into the MySQL table
data.to_sql(table_name, con=engine, if_exists='append', index=False)  # Change 'replace' to 'append' if you don't want to overwrite

9994